
<div class="bg" (touchstart)="swipehome($event, 'start')" (touchend)="swipehome($event, 'end')" (mousedown)="swipehome($event, 'start')" (mouseup)="swipehome($event, 'end')">
    <!--<div class="bg" >-->
    <div class="homepage">
        <img class="logo" src="/dist/res/img/entanglo_logo2.png" alt="Entanglo" />
    </div>
    <div>
        <!--<button type="button" class="start-btn btn-lg" (touchstart)="onStart($event)" (click)="onStart($event)">-->
        <button type="button" class="start-btn btn-lg">
            <span>Start </span>
        </button>
    </div>
</div>
